In [1]:
import pandas as pd

In [2]:
df_list = [
  ["Lamar Jackson", 23, "Ravens", "QB"]
  , ["Russell Wilson", 31, "Seahawks", "QB"]
  , ["Aaron Donald", 29, "Rams", "DT"]
  , ["Patrick Mahomes", 24, "Chiefs", "QB"]
  , ["Michael Thomas", 27, "Saints", "WR"]
  , ["Christian McCaffrey", 24, "Panthers", "RB"]
  , ["George Kittle", 26, "49ers", "TE"]
  , ["DeAndre Hopkins", 28, "Cardinals", "WR"]
  , ["Stephon Gilmore", 29, "Patriots", "CB"]
  , ["Derrick Henry", 26, "Titans", "RB"]
]
df_columns = ["Name", "Age", "Team", "Position"]
players = pd.DataFrame(data=df_list, columns=df_columns)

In [3]:
#query everything like in SQL 'Select * From players'
players

                  Name  Age       Team Position
0        Lamar Jackson   23     Ravens       QB
1       Russell Wilson   31   Seahawks       QB
2         Aaron Donald   29       Rams       DT
3      Patrick Mahomes   24     Chiefs       QB
4       Michael Thomas   27     Saints       WR
5  Christian McCaffrey   24   Panthers       RB
6        George Kittle   26      49ers       TE
7      DeAndre Hopkins   28  Cardinals       WR
8      Stephon Gilmore   29   Patriots       CB
9        Derrick Henry   26     Titans       RB

In [4]:
#multiple Column query
players[['Name','Age']]

                  Name  Age
0        Lamar Jackson   23
1       Russell Wilson   31
2         Aaron Donald   29
3      Patrick Mahomes   24
4       Michael Thomas   27
5  Christian McCaffrey   24
6        George Kittle   26
7      DeAndre Hopkins   28
8      Stephon Gilmore   29
9        Derrick Henry   26

In [5]:
# select only the first 5 rows
players.head(5)

              Name  Age      Team Position
0    Lamar Jackson   23    Ravens       QB
1   Russell Wilson   31  Seahawks       QB
2     Aaron Donald   29      Rams       DT
3  Patrick Mahomes   24    Chiefs       QB
4   Michael Thomas   27    Saints       WR

In [6]:
#selecting distinct position 
players["Position"][~players['Position'].duplicated()]

0    QB
2    DT
4    WR
5    RB
6    TE
8    CB
Name: Position, dtype: object

In [8]:
#return rows that have a specific value
players[players.Position == 'QB']

              Name  Age      Team Position
0    Lamar Jackson   23    Ravens       QB
1   Russell Wilson   31  Seahawks       QB
3  Patrick Mahomes   24    Chiefs       QB

In [10]:
#return rows and specific columns that have a specific value
players[['Name','Age']][~(players.Position =='QB')]

                  Name  Age
2         Aaron Donald   29
4       Michael Thomas   27
5  Christian McCaffrey   24
6        George Kittle   26
7      DeAndre Hopkins   28
8      Stephon Gilmore   29
9        Derrick Henry   26

In [12]:
#using 'And'
players[['Name','Age']][(players.Position == 'QB')& (players.Age < 30)]

              Name  Age
0    Lamar Jackson   23
3  Patrick Mahomes   24

In [15]:
#using 'Or'
players[['Name','Age']][(players.Position == 'QB')|(players.Age < 30)]

                  Name  Age
0        Lamar Jackson   23
1       Russell Wilson   31
2         Aaron Donald   29
3      Patrick Mahomes   24
4       Michael Thomas   27
5  Christian McCaffrey   24
6        George Kittle   26
7      DeAndre Hopkins   28
8      Stephon Gilmore   29
9        Derrick Henry   26

In [17]:
#query using 'IN'
players[players.Position.isin(['QB','RB'])]

                  Name  Age      Team Position
0        Lamar Jackson   23    Ravens       QB
1       Russell Wilson   31  Seahawks       QB
3      Patrick Mahomes   24    Chiefs       QB
5  Christian McCaffrey   24  Panthers       RB
9        Derrick Henry   26    Titans       RB

In [18]:
#query using like
players[players.Team.str.contains('ns')]

            Name  Age    Team Position
0  Lamar Jackson   23  Ravens       QB
9  Derrick Henry   26  Titans       RB

In [20]:
#ORDER BY
players.sort_values('Name')

                  Name  Age       Team Position
2         Aaron Donald   29       Rams       DT
5  Christian McCaffrey   24   Panthers       RB
7      DeAndre Hopkins   28  Cardinals       WR
9        Derrick Henry   26     Titans       RB
6        George Kittle   26      49ers       TE
0        Lamar Jackson   23     Ravens       QB
4       Michael Thomas   27     Saints       WR
3      Patrick Mahomes   24     Chiefs       QB
1       Russell Wilson   31   Seahawks       QB
8      Stephon Gilmore   29   Patriots       CB

In [21]:
#sorting with 2 columns
players.sort_values(['Age','Name'])

                  Name  Age       Team Position
0        Lamar Jackson   23     Ravens       QB
5  Christian McCaffrey   24   Panthers       RB
3      Patrick Mahomes   24     Chiefs       QB
9        Derrick Henry   26     Titans       RB
6        George Kittle   26      49ers       TE
4       Michael Thomas   27     Saints       WR
7      DeAndre Hopkins   28  Cardinals       WR
2         Aaron Donald   29       Rams       DT
8      Stephon Gilmore   29   Patriots       CB
1       Russell Wilson   31   Seahawks       QB

In [22]:
#sorting with 2 columns with ASC and DESC
players.sort_values(['Age','Name'], ascending=[False,True])

                  Name  Age       Team Position
1       Russell Wilson   31   Seahawks       QB
2         Aaron Donald   29       Rams       DT
8      Stephon Gilmore   29   Patriots       CB
7      DeAndre Hopkins   28  Cardinals       WR
4       Michael Thomas   27     Saints       WR
9        Derrick Henry   26     Titans       RB
6        George Kittle   26      49ers       TE
5  Christian McCaffrey   24   Panthers       RB
3      Patrick Mahomes   24     Chiefs       QB
0        Lamar Jackson   23     Ravens       QB

In [24]:
#query with COUNT
players.groupby('Position').agg({'Name':'count'}).rename(columns={'Name':'Count'})
# ".groupby()" groups the query in the desire grouping.
# ".agg()" applies the aggregation in the specific column {'column':'agg"}
# ".rename()" renames the output table colums.

          Count
Position
CB            1
DT            1
QB            3
RB            2
TE            1
WR            2

In [25]:
#query with sum
players.groupby('Position').agg({'Age':'sum'})

          Age
Position
CB         29
DT         29
QB         78
RB         50
TE         26
WR         55

In [27]:
players.groupby("Position").agg({'Age':'mean'})

           Age
Position
CB        29.0
DT        29.0
QB        26.0
RB        25.0
TE        26.0
WR        27.5

In [28]:
#ranking 
players['AgeRank'] = players.Age.rank(ascending=False)
players

                  Name  Age       Team Position  AgeRank
0        Lamar Jackson   23     Ravens       QB     10.0
1       Russell Wilson   31   Seahawks       QB      1.0
2         Aaron Donald   29       Rams       DT      2.5
3      Patrick Mahomes   24     Chiefs       QB      8.5
4       Michael Thomas   27     Saints       WR      5.0
5  Christian McCaffrey   24   Panthers       RB      8.5
6        George Kittle   26      49ers       TE      6.5
7      DeAndre Hopkins   28  Cardinals       WR      4.0
8      Stephon Gilmore   29   Patriots       CB      2.5
9        Derrick Henry   26     Titans       RB      6.5